body {
	background-color: currentColor;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.25s;
}

.fade-out {
	opacity: 0;
	animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.25s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.carousel-control-prev-icon {
    filter: none !important;
}

.carousel-control-next-icon {
    filter: none !important;
}

.carousel-caption > span {
    color: #fff !important;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-indicators > button {
    background-color: #fff !important;
}